/* Spacing Scale */
$s-4: 0.125rem
$s-3: 0.25rem
$s-2: 0.5rem
$s-1: 0.75rem
$s0: 1rem
$s1: 1.5rem
$s2: 2rem
$s3: 2.25rem
$s4: 3rem
$s5: 4rem

/* Type Scale */
$xs: 0.75rem
$sm: 0.875rem
$md: 1rem
$lg: 1.125rem
$xl: 1.25rem
$xl2: 1.5rem
$xl3: 1.75rem

/* Breakpoints */
$mobile: 300px
$tablet: 820px

/* Colors */
$white: #fff
$gray-1: #e8e8e8
$gray-2: #919191
$gray-3: #4f4f4f
$black: #0d0d0d