$font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif

/* Breakpoints */
$xs: 375px
$xs-landscape: 667px
$sm: 414px
$tablet: 820px

/* Colors */
$white: #fff
$gray-1: #e8e8e8
$gray-2: #919191
$gray-3: #4f4f4f
$black: #0d0d0d

$c-text: #666666
$c-link: #2288bb
$c-link-hover: #33aaff