@use 'system' as *
@use 'base'
@use 'animations'

@media (orientation: portrait)
  main
    position: absolute
    top: 0
    right: 60px
    width: calc(100vh - 100px)
    height: 100%
    opacity: 0.5
    transform: rotate(90deg)

  @media screen and (max-width: $sm)
    .text
      margin-right: 20px
      width: 40%

@media (orientation: landscape)
  h1
    font-size: 22px
    margin-left: calc(50vw - 202px)
    color: $c-link
    height: 30px
    animation: 1s ease-out slidein

  header
    position: absolute
    width: 100%
    z-index: 1

  .arrow
    opacity: 0
    animation: 1s ease-in-out slideout

  main
    height: 100vh
    width: 100%
    opacity: 1
    animation: fadein 1.2s

  section
    padding-top: 60px
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    &::-webkit-scrollbar
      background: transparent

  .images
    z-index: 1

  .text
    padding-bottom: 10px
    min-width: 414px

  @media screen and (max-width: $tablet) 
    a:hover 
      color: $c-link

  @media screen and (max-width: $xs-landscape) 
    .images
      margin-right: 20px


