@use 'system' as *
@use 'base'
@use 'animations'

/* Portrait */
@media (orientation: portrait)
  header.portrait
    position: relative
    z-index: 1
    opacity: 1
    &.set-opacity
      opacity: 0.5
      animation: 4s fadeouthalf
    h1
      text-align: right
      padding: 0 40px
  main
    position: absolute
    top: 0
    right: 60px
    width: calc(100vh - 60px)
    height: 100%
    opacity: 0.5
    transform: rotate(90deg)

  .about
    height: 0
    width: 0
    position: absolute
    bottom: 0
    right: 0
    background: $c-shadow
    .about-content
      background: $white
      border: solid 1px $black
      position: absolute
      bottom: 20px
      right: 20px
    &.shrink
      height: 0
      width: 0
      padding: 0
      .about-content
        height: 0
        width: 0
        padding: 0
        p, a
          opacity: 0
        .circular svg
          opacity: 0
          transform: rotate(-70deg)
    &.grow
      height: 100%
      width: 100%
      padding: 20px
      animation: 1s grow
      .about-content
        height: calc(100% - 40px)
        width: calc(100% - 40px)
        p, a
          opacity: 1
          animation: 2s ease fadeintext
        .circular svg
          opacity: 1
          transform: rotate(20deg)
          animation: 4s ease rotate
      button > div
        transform: rotate(45deg)

  .about-button
    height: 64px
    width: 64px
    background: white
    border: outset 7px $c-border
    color: $c-link
    font-size: 2rem
    position: absolute
    bottom: 20px
    right: 20px
    cursor: pointer
    &:active, &:hover
      border: inset 7px $c-border

  @media screen and (max-width: $sm)
    .text
      margin-right: 20px
      width: 40%

/* Landscape */
@media (orientation: landscape)
  h1
    margin-left: calc(50vw - 202px)
    color: $c-link
    height: 30px
    animation: 1s ease-out slidein

  header
    position: absolute
    width: 100%
    z-index: 1
    box-shadow: 1px 1px 5px 1px $c-shadow
    border-bottom: 1px solid $c-border

  .about-button
    display: none

  .arrow
    opacity: 0
    animation: 1s ease-in-out slideout

  main
    justify-content: space-between
    height: 100vh
    width: 100%
    opacity: 1
    animation: fadein 1.2s
    padding-left: 0

  section
    // width: calc(50% - 20px)
    padding-top: 60px
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    &::-webkit-scrollbar
      background: transparent
      display: none

  .images
    padding-bottom: 60px
    z-index: 1

  .text
    display: flex
    justify-content: center
    width: 360px
    padding: 5px
    margin-left: 10px
    box-shadow: 1px 1px 5px 1px $c-border
    
  .wrap-inner
    border: solid 1px $c-border
    padding: 55px 10px 55px


  @media screen and (max-width: $tablet) 
    a:hover 
      color: $c-link

  @media screen and (max-width: $sm-landscape) 
    .text
      font-size: $f0
      

  @media screen and (max-width: $xs-landscape)
    .images
      padding-right: 5px

    .text
      width: 340px
      font-size: 15px
      margin-left: 5px


